# API
DATABASE_URL="postgresql://docker:docker@localhost:5432/orbits_dev?schema=public"

# Better Auth
BETTER_AUTH_SECRET="better_auth_secret_key"
BETTER_AUTH_URL="http://localhost:3333"

# Bucket Storage
BUCKET_STORAGE_ENDPOINT=""
BUCKET_STORAGE_ACCESS_KEY=""
BUCKET_STORAGE_SECRET_KEY=""